<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenCV.Net" version="3.3.0" targetFramework="net45" />
  <package id="OpenCVSharp" version="2.4.0.1" targetFramework="net45" />
  <package id="OpenCvSharp-WithoutDll" version="2.4.10.20151220" targetFramework="net45" />
</packages>